<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css-login/style-panel.css">
    <title>Panel</title>
</head>
<body>
    
<main id="container">
    <div class="menu">
        <h4>Config</h4>
        <a href="/" class="options-admin"><ion-icon name="home-outline"></ion-icon></a>
        <a href="#" class="options-admin"><ion-icon name="construct-outline"></ion-icon></a>
        <a href="/logout" class="options-admin"><ion-icon name="log-out-outline"></ion-icon></a>
    </div>
    <main id="box">
        <h1>Admin Panel</h1>

        <div class="container-admin">
            <a href="/admin/categories" class="box-content">
                <img src="/img/undraw_add_post_re_174w.svg" alt="add post">
                <h2>Manage Categories</h2>
            </a>
            <a href="/admin/docs" class="box-content">
                <img src="/img/undraw_add_post_re_174w.svg" alt="add post">
                <h2>Manage articles</h2>
            </a>
            <a href="/admin/users" class="box-content">
                <img src="/img/undraw_add_user_re_5oib.svg" alt="add post">
                <h2>Manage users</h2>
            </a>
        </div>
    </main>
</main>

</body>
<%- include ('../partials/footer'); %>