<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css-login/style-panel.css">
    <title>Panel</title>
</head>
<body>
    
<main id="container">
    <div class="menu">
        <h4>Admin</h4>

        <a href="#" class="options-admin"><ion-icon name="construct-outline"></ion-icon></a>
        <a href="/logout" class="options-admin"><ion-icon name="log-out-outline"></ion-icon></a>
    </div>
    <div class="box">
        <p>teste</p>
    </div>
</main>

</body>
<%- include ('../partials/footer'); %>