<nav class="nav_home">
  <button class="button_home" onclick="btnMenu()" id="btn-menu">
    <ion-icon name="apps-outline"></ion-icon>
  </button>

  <ul class="nav-home-ul">
    <li class="nav-home-li"><a href="/">Home</a></li>
    <li class="nav-home-li"><a href="/admin/categories">Categorias</a></li>
    <li class="nav-home-li"><a href="/admin/docs">Documentos</a></li>
  </ul>

  <div class="nav-menu" id="menu-modal">
    <details>
      <summary>Categorias</summary>
      <ul>
        
      </ul>
    </details>
    
  </div>
</nav>