<%- include ('./partials/header'); %>
<body>
    <%- include ('./partials/navbar'); %>
    <div class="container">
        <div class="card my-4">
            <div class="card-header">
                <h3>titulo</h3>
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-dark">Ler Artigo</a>
            </div>
        </div>
    </div>
</body>
<%- include ('./partials/footer'); %>