[Desktop Entry]
Encoding=UTF-8
Name=Link to Cheklist Contas Mensais - Planilhas Google
Type=Link
URL=https://docs.google.com/spreadsheets/d/1jjps6AIuTpmqJlWGMuqNVvpu7RveK9qqTYQl0N30g-I/edit?ts=5f6a3954#gid=1048445049
Icon=text-html
